.header {

  .header--bg {
    background-image: url('../../assets/img/bgHeader.png');
    background-repeat: no-repeat;
    background-position: top center;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;

    padding: 30px 70px 0 0;
  }

  .contacts {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 30px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-120%);
    transition: background 1s ease-in-out,
      visibility 1s ease-in-out,
      opacity 1s ease-in-out,
      transform 1s ease-in-out;

    &__close-btn {
      position: absolute;
      top: 0;
      right: -50px;
      border: 0;
      color: $colorPrimary;
      cursor: pointer;
      font-size: 20px;
      background: transparent;
      opacity: 0;
      transition: opacity ease-in 0.3s;
    }

    .close_btn--opacity {
      opacity: 1;
    }

    &__close-btn:focus {
      outline: none;
    }

  }

  .contacts--position {
    margin-left: 70px;
  }

  &__socialList {
    column-gap: 26px;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 125px;

    position: relative;

    max-width: 1110px;
    margin: 0 auto;
    padding: 125px 0 209px;

    &::before {
      content: "";
      position: absolute;
      top: 365px;
      left: 238px;
      width: 152px;
      height: 152px;
      background-image: url('../../assets/greeting.svg');
      background-repeat: no-repeat;
    }
  }

  &__avatar {}

  &__info {}

  &__job {
    margin-bottom: 10px;

    @include header3;
  }

  &__name {
    margin-bottom: 40px;

    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 126px;
    line-height: 0.89;
    letter-spacing: -2px;
    color: $colorText;
  }

  &__btn {
    padding: 19px 60px;

    font-family: 'PT Sans Narrow';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: $colorPrimary;

  }
}