@mixin textStyle {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  color: $colorText;
}

@mixin header3 {
  margin-bottom: 10px;
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $colorAccent;
}

@mixin header2 {
  margin-bottom: 20px;
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 36px;
  line-height: 1.28;
  color: $colorText;
}